<% const capitalTitle = title?.charAt(0)?.toUpperCase() + title?.slice(1); let renameTitle = ''; switch(capitalTitle){case 'Manual': renameTitle = "Training Manual"; break; case 'E_sales': renameTitle = "E-Sales Aid"; break; default: renameTitle = capitalTitle}; %>

<header id="header">
  <div class="container_header">
    <div class="main_header">
      <div class="title_box">
        <span class="subtitle">Jenphar E-Library</span>
        <h1 class="title"><%= renameTitle %></h1>
      </div>
      <div class="image_box">
        <img class="image" src="/images/dummy-profile.png" alt="Picture of the user" />
      </div>
    </div>
  </div>
</header>
