<!-- * HEAD * -->
<%- include('includes/user_layout/head.ejs') %>
<!-- * HEAD * -->

<body>
  <main id="temp_main">
    <div class="fixed_container">
      <h1 class="message">This website is off now. Please try again after some time.</h1>
      <a class="home_button" href="/">Go Back</a>
    </div>
  </main>
</body>

<!-- * FOOT * -->
<%- include('includes/user_layout/foot.ejs') %>
<!-- * FOOT * -->
