#content_box {
  padding: 1.2rem;
  background-color: var(--blue-primary);

  .main_box {
    height: calc(100vh - 2.4rem);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 1.6rem;
    padding: 3.2rem 2.4rem;
    background-color: var(--white);
  }
}
/*
>
>
>
*/
/* TITLE */
#title_box_primary {
  .title {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--black);
  }

  .line {
    width: 100%;
    border: 1px solid var(--blue-primary-1);
    margin: 2.4rem 0;
  }
}
/* TITLE */
/*
>
>
>
*/
#content_box_result {
  display: flex;
  justify-content: center;

  .download_result {
    background-color: var(--blue-primary-1);
    border: 1px solid var(--blue-primary-1);
    width: 50%;
    padding: 1.6rem;
    border-radius: 1.2rem;

    .myLabel {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
      color: var(--blue-secondary);
    }

    .myInput {
      width: 100%;
      display: block;
      border: 1px solid var(--blue-primary-1);
      background-color: var(--white);
      border-radius: 0.8rem;
      padding: 1.2rem;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 0.4rem;
    }

    .button_download {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1;
      cursor: pointer;
      border: none;
      border-radius: 0.8rem;
      padding: 1.2rem 3.2rem;
      background-color: var(--blue-secondary);
      border: 1px solid var(--blue-secondary);
      color: var(--white);
      transition: 0.2s;

      &:hover {
        background-color: var(--blue-secondary-hover);
      }
    }
  }
}
/*
>
>
>
*/
/* DASHBOARD */
#content_box_dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;

  .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    padding: 2.4rem;
    border-radius: 1.2rem;
    transition: 0.2s;
    border: 1px solid var(--blue-primary-1);
    background-color: var(--blue-primary-1);

    &:hover {
      background-color: var(--blue-primary);
    }

    &:hover .name {
      color: var(--white);
    }

    .icon_box {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--blue-secondary);

      .icon {
        font-size: 2.5rem;
        color: var(--white);
      }
    }

    .name {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      color: var(--black);
    }
  }
}

#admin_dashboard .plus_icon {
  display: flex;
  align-items: center;
}
#admin_dashboard .plus_icon .icon {
  fill: var(--blue-secondary);
  font-size: 5rem;
  transition: 0.2s;
}
#admin_dashboard .plus_icon .icon:hover {
  fill: var(--blue-secondary-hover);
}
/* DASHBOARD */
/*
>
>
>
*/
/* USER ACCESS */
#access_active {
  width: 100%;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.8rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  color: #fff;
  background-color: #4cbb17;
}
#access_inactive {
  width: 100%;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.8rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  color: #fff;
  background-color: red;
}

#content_box_access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .access {
    background-color: var(--blue-primary-1);
    border: 1px solid var(--blue-primary-1);
    width: 50%;
    padding: 1.6rem;
    border-radius: 1.2rem;

    .label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
      color: var(--blue-secondary);
    }

    .select_radio {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      border: 1px solid var(--blue-primary-1);
      background-color: var(--white);
      border-radius: 0.8rem;
      padding: 1.2rem;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 0.4rem;
    }

    .button_submit {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1;
      cursor: pointer;
      border: none;
      border-radius: 0.8rem;
      padding: 1.2rem 3.2rem;
      background-color: var(--blue-secondary);
      border: 1px solid var(--blue-secondary);
      color: var(--white);
      transition: 0.2s;

      &:hover {
        background-color: var(--blue-secondary-hover);
      }
    }
  }
}
/* USER ACCESS */
/*
>
>
>
*/
/* ERROR */
#error_full {
  .message_error,
  .message_success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 2.4rem;
    border-radius: 0.8rem;
  }

  .message_error {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    margin-bottom: 2.4rem;
  }

  .message_success {
    background-color: rgba(75, 187, 23, 0.1);
    color: #4cbb17;
    margin-bottom: 2.4rem;
  }
}

#error_half {
  width: 50%;

  .message_error,
  .message_success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 2.4rem;
    border-radius: 0.8rem;
  }

  .message_error {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    margin-bottom: 2.4rem;
  }

  .message_success {
    background-color: rgba(75, 187, 23, 0.1);
    color: #4cbb17;
    margin-bottom: 2.4rem;
  }
}
/* ERROR */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


#addmedicine {
}

#addmedicine .myLabel {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--blue-secondary);
  margin-bottom: 1.2rem;
}

#addmedicine .myInput {
  display: block;
  width: 50%;
  border: 1px solid var(--blue-primary-5);
  border-radius: 0.4rem;
  background-color: var(--blue-primary-1);
  padding: 0.8rem 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.4rem;
}

#addmedicine .button {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem;
  transition: 0.2s;
  margin-right: 0.8rem;
  background-color: var(--blue-secondary);
  border: 1px solid var(--blue-secondary);
  color: var(--white);
  margin-top: 1.2rem;
}
#addmedicine .button:hover {
  background-color: var(--blue-secondary-hover);
}

/* ! Download Report ! */

#download_report {
}

#download_report .download_box {
  display: flex;
  flex-direction: column;
}

#download_report .myLabel {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--blue-secondary);
  margin-bottom: 1.2rem;
}

#download_report .myInput {
  display: block;
  width: 50%;
  border: 1px solid var(--blue-primary-5);
  border-radius: 0.4rem;
  background-color: var(--blue-primary-1);
  padding: 0.8rem 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.4rem;
}

#download_report .button {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem;
  transition: 0.2s;
  margin-right: 0.8rem;
  background-color: var(--blue-secondary);
  border: 1px solid var(--blue-secondary);
  color: var(--white);
  margin-top: 1.2rem;
}
#download_report .button:hover {
  background-color: var(--blue-secondary-hover);
}
