#main {
  background-color: var(--blue-primary);
  height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
  
}

/* ! */

#side_box {
  padding: 1.2rem 1.2rem 1.2rem 2.4rem;
}

#side_box .asidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ! */

#side_box .logo_box {
  padding: 0 0.4rem;
  margin-bottom: 3.2rem;
}

#side_box .logo_box .logo {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
}

/* ! */

#side_box .nav_box {
  width: 100%;
}

#side_box .nav_box .list_box_1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding-left: 0;
}

#side_box .nav_box .list_box_1 .list_1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1.6rem 1.2rem;
  transition: 0.2s;
}
#side_box .nav_box .list_box_1 .list_1:hover,
#side_box .nav_box .list_box_1 .list_1_active {
  background-color: var(--white-1);
  color: var(--white-1) !important;
}

#side_box .nav_box .list_box_1 .link_1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  color: var(--white-75);
}
#side_box .nav_box .list_box_1 .list_1_active .link_1 {
  color: var(--white);
}

#side_box .nav_box .list_box_1 .icon_up {
  margin-left: auto;
  font-size: 1.6rem;
  color: var(--white-75);
}

#side_box .nav_box .list_box_1 .icon_1 {
  font-size: 1.6rem;
  color: var(--white-75);
}
#side_box .nav_box .list_box_1 .list_1_active .icon_1 {
  color: var(--white);
}

#side_box .nav_box .list_box_2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  display: flex;
  padding-left: 0;
}
#side_box .nav_box .list_box_2_active {
  display: none;
}

#side_box .nav_box .list_box_2 .list_2 {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-left: 2.4rem;
  padding: 1.4rem 1.2rem;
  transition: 0.2s;
}
#side_box .nav_box .list_box_2 .list_2:hover,
#side_box .nav_box .list_box_2 .list_2_active {
  background-color: var(--white-1);
}

#side_box .nav_box .list_box_2 .link_2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  color: var(--white-75);
}
#side_box .nav_box .list_box_2 .list_2_active .link_2 {
  color: var(--white);
}

#side_box .nav_box .list_box_2 .icon_2 {
  font-size: 1.4rem;
  color: var(--white-75);
}
#side_box .nav_box .list_box_2 .list_2_active .icon_2 {
  color: var(--white);
}

/* ! */

#side_box .logout_box {
  margin-top: auto;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1.6rem 1.2rem;
  transition: 0.2s;
}
#side_box .logout_box:hover,
#side_box .logout_box_active {
  background-color: var(--white-1);
  color: var(--white-1) !important;
}

#side_box .logout_box .icon {
  font-size: 1.6rem;
  color: var(--white-75);
}

#side_box .logout_box .link {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  color: var(--white-75);
}
