<!-- * HEAD * -->
<%- include('../includes/user_layout/head.ejs') %>
<!-- * HEAD * -->

<body>
  <!-- * HEADER * -->
  <%- include('../includes/user_layout/header.ejs') %>
  <!-- * HEADER * -->

  <main id="main">
    <div class="fixed_container">
      <section id="select">
        <div id="thank_you">
          <svg class="icon" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
          </svg>
          <h2 class="title">Quiz Participation Reminder!</h2>
          <p class="message">We have noticed that you have already participated in this quiz. Thank you for your interest and effort.</p>
          <a class="button_home" href="/home">Go Back to Home</a>
        </div>
      </section>
    </div>
  </main>

  <!-- * FOOTER * -->
  <%- include('../includes/user_layout/footer.ejs') %>
  <!-- * FOOTER * -->
</body>

<!-- * FOOT * -->
<%- include('../includes/user_layout/foot.ejs') %>
<!-- * FOOT * -->

<script></script>
